@import "tailwindcss";

@theme {
  --color-main: #009b4d;
  --color-secondary: #ffcc00;
  --color-ivory: #faf5e9;
}

@theme inline {
  --color-background: var(--color-ivory);
  --color-foreground: var(--color-main);
  --color-primary: var(--color-main);
  --color-accent: var(--color-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}
